.jumbotron{
  height:236px;
  background-color: #9F9C9C;
  text-align: center;
  color: #FFF;
  font-size: 22px;
  width: 100%;
  border-radius: 0;
  margin-top:0 !important;
  padding: 72px 0 0 0;
  background: url("https://cdn.pixabay.com/photo/2018/04/05/14/09/sunflowers-3292932__340.jpg") no-repeat 0 0;
}
.jumbotron h1{
  width: 592px;
  height: 98px;
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  background-color: #FFF;
  color: #000;
  padding: 35px 0 0 0;
  border-radius: 5px;
}
